.app-main-wrapper {
  justify-content: center;
  
  @media #{$full-size} {
    width: $full-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-main {
  width: 100%;  
}

.app-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 12px 0 4px;
  color: #0085ff;
  letter-spacing: .45px;
}

nav a {
  font-size: rem(14);
  // font-weight: 300;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 8px;

  transition: all 450ms ease-in;

  &:first-child {
    margin-left: 0;
  }
}

.link--active {
  user-select: none;
  text-decoration: none;
  color: #999;
  letter-spacing: 2px;
  cursor: default;
  font-size: rem(16);
}

.separator {
  display: inline-block;
  margin: 0 .15rem;
  border: solid 1px #bbb;
  height: 0.2rem;
}

nav {
  margin-bottom: 18px;
}

.request {
  font-size: rem(16);
  border-radius: 3px;
  padding-bottom: 100px; 
}


