// spinner
@keyframes doSpinning {
  from { transform: rotate(0) }
  to { transform: rotate(359deg) }
}

.loader {
  animation: doSpinning .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em
}

.control.is-loading::after {
  animation: doSpinning .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute!important;
  right: .625em;
  top: .625em
}
