<div class="datetimeslot">
  <span class="datetimeslot__label">
  {{ dateLabel }}
  </span>
  <rf-datepicker
    [date]="date"
    (dateChange)="changeDate($event)"
    [disabledDays]="disabledDays"
    [dateFormat]="dateFormat"
    [placeholder]="placeholder"
    #datepicker></rf-datepicker>
  
  <span class="datetimeslot__label">
  {{ startLabel }}
  </span>
    <vt-dropdown
      [list]="dropdownLists[0]"
      [select]="currentSelection.fromtime"
      (selected)="setFromTime($event)"
      [placeholderLabel]="startLabel"></vt-dropdown>

  <span class="datetimeslot__label" [attr.data-label]="endLabel">
  {{ endLabel }}
  </span>
    <vt-dropdown
      [list]="dropdownLists[1]" 
      [select]="currentSelection.totime"
      (selected)="setToTime($event)"
      [placeholderLabel]="endLabel"
      isWide="true" ></vt-dropdown>
</div>
